[submodule "LW20-Api"]
	path = LW20-Api
	url = https://github.com/LightWare-Optoelectronics/LW20-Api.git
[submodule "Arduino_LSM6DSOX"]
	path = Arduino_LSM6DSOX
	url = https://github.com/arduino-libraries/Arduino_LSM6DSOX.git
